 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --row-width : -2px;
    --col-padding : 2px;
    --primary-color : #fe6233;
    --white-color : #fffffe;
    --white-color-2: #ffffff;
    --light-orange : #ffeada;
    --black-color : #343434;
}

.content {
   padding-top: 160px;
   overflow-x: hidden;
} 

/* ----------------- ADVERTISEMENT --------------- */

.adv-link {
    margin-left: 0.125rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.adv-link-last {
    margin-top: 2px;
    justify-content: flex-end;
}

.adv-link img {
    width: 100%;
    border-radius: 5px;
    height: 98%;
}

/* -------------------- ATTRACTIVE --------------------- */

.attractive {
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--white-color);
    height: 108px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.attractive-item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.attractive-logo {
    height: 70px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attractive-img {
    height: 45px;
    width: 100%;
    background-image: url("https://cf.shopee.vn/file/b3535d7e56c58c4ebe9a87672d38cc5e_xhdpi");
    background-size: contain;
    background-repeat: no-repeat;
}

.attractive-content {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: .8125rem;
    line-height: 0.875rem;
    max-width: 80px;
    margin-bottom: 8px;
    word-wrap: break-word;
    overflow: hidden;

    color: var(--black-color);
    letter-spacing: 0;
    text-align: center;
}


/* ------------------- BANNER ------------------------ */

.adv-banner-fullscreen {
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 110px;
    justify-content: center;
    align-items: center;

}

.adv-banner-fullscreen img {
    width: 100%;
}

/* ------------------ SELLING PRODCUT -------------------- */

.selling-product {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sp-img {
    width: 100%;
}

.sp-img img {
    width: 100%;
    height: 100px;
}

.sp-container {
    position: relative;
    background-color: #ffeada;
    height: 300px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

    z-index: 1;
}

.sp-title {
    padding: 0 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color : rgb(208, 1, 27);
}

.sp-content {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color : inherit;
}

.sp-more {
    color : inherit;
}

.sp-product {
    margin-top: 20px;
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-behavior: smooth;

}

.sp-item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 160px;
    width: 160px;
    color : rgb(208, 1, 27);
    padding-bottom: 10px;
    margin-right: 2px;
    border-radius: 5px;

    scroll-snap-align: start;
}

.sp-item-img {
    background-image: url("https://cf.shopee.vn/file/fff81458b7029b2aa9fabc8f7c9811f0_tn");
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
    width: 160px;
    background-position: 50%;
    border-radius: 5px;
}

.sp-item-price {
    text-align: center;
    color : inherit;
}

.sp-product::-webkit-scrollbar {
    display: none;
}

.sp-next {
    position: absolute;
    right: 5px;
    top: calc(50% - 1rem);
    cursor: pointer;

}

.sp-next i {
    color : rgb(208, 1, 27);
    font-size: 2.5rem;
}

.sp-next i:active {
    transform: scale(1.2);
    transition: 0.1s;
}

.sp-prev {
    position: absolute;
    left: 5px;
    top: calc(50% - 1rem);
    cursor: pointer;
    display: none;
}

.sp-prev i {
    color : rgb(208, 1, 27);
    font-size: 2.5rem;
}

.sp-prev i:active {
    transform: scale(1.2);
    transition: 0.1s;
}

/* ----------------- CATEGORY -------------------- */

.category {
    width: 100%;
    background-color: #ffffff;
}

.category-title {
    padding: 20px 10px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    opacity: 0.5;
}

.category-menu {
    width: 100%;
    position: relative;
    height: 300px;
}

.category-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-behavior: smooth;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-item {
    display: flex;
    flex-direction: column;
    width: 120px;
    max-width: 150px;
    border : 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 150px;
    scroll-snap-align: start;
}

.category-item img {
    width: 83px;
    height: 88px;
}

.category-item p {
    padding: 0 5px;
    width: 120px;
    color: rgba(0,0,0,.8);
    font-size: .875rem;

    line-height: 1.25rem;
    margin-bottom: .625rem;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.category-item:hover {
    opacity: 0.7;
    transition: 0.1s;
}

.category-item:first-child {
    border-left-width: 0px;
}

.category-item:last-child {
    border-right-width: 0px;
}

.category-prev {
    position: absolute;
    top : calc(50% - 1rem);
    left: 5px;
    cursor: pointer;
    display: none;
}

.category-prev i {
    font-size: 2rem;
    color : #000;
    opacity: 0.6;
}

.category-next {
    position: absolute;
    top : calc(50% - 1rem);
    right: 5px;
    cursor: pointer;
}

.category-next i {
    font-size: 2rem;
    color : #000;
    opacity: 0.6;
}

/* ----------------- FLASH SALE ---------------- */

.flashsale {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #fff;
}

.flashsale-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.flashsale-title {
    display: flex;
    height: 100%;
}

.flashsale-logo {
    background-image: url("../images/flashsale.png");
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.flashsale-countdown {
    margin-left: 5px;
    width: 90px;
    display: flex;
    justify-content: space-between;
}

.fc-hour {
    background-color: #000;
    width: 25px;
    color : #fff;
    text-align: center;
    border-radius: 5px;
}

.fc-minute {
    background-color: #000;
    width: 25px;
    color : #fff; 
    text-align: center;
    border-radius: 5px;

}

.fc-second {
    background-color: #000;
    width: 25px;
    color : #fff;
    text-align: center;
    border-radius: 5px;

}


.flashsale-more {
    color :#ee4d2d;
    text-align: center;
    text-transform :capitalize;
    font-size: 0.8rem;
}

.flashsale-container {
    position: relative;
    margin-top: 10px;
    display: flex;
    height: 220px;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-behavior: smooth;
}

.flashsale-container::-webkit-scrollbar {
    display: none;
}

.flashsale-item {
    display: flex;
    flex-direction: column;
    width: 180px;
    height: 200px;
    align-items: center;
    color : #ee4d2d;
    padding-bottom: 1px;
    position: relative;
    border : 1px solid rgba(0,0,0,.1);

    scroll-snap-align: start;
}

.flashsale-product {
    background-image: url("https://cf.shopee.vn/file/194646e5b88eb909e75478715291aa79_tn");
    background-repeat: no-repeat;
    background-size: contain;
    width: 173px;
    height: 173px;
    background-position: 50%;
}

.flashsale-price {
    text-align: center;
    color : inherit;
    font-size: 1.2rem;
}

.flashsale-quantity {
    width: 90%;
    height: 20px;
    background-color: #ffbda6;
    border-radius: 20px;
    position : relative;
}

.flashsale-quantity p {
    position: relative;
    color : #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 0.9rem;
    z-index: 10;
}

.flashsale-bar {
    position: absolute;
    width: 50%;
    height: 100%;
    background-color: #ee4d2d;
    top : 0;
    left: 0;
    border-radius: 20px;
    z-index: 0;
}

.flashsale-discout {
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: #ffd839;
    top : 0;
    right: 0;
    text-align: center;
}

.flashsale-discout span {
    font-size: 1rem;
    color : #fff;
}

.flashsale-discout p {
    font-size: 1rem;
    color : #ee4d2d; 
}

.flashsale-discout::after {
    content: "";
    width: 0px;
    height: 0px;
    left: 0px;
    bottom: -4px;
    position: absolute;
    border-color: transparent rgba(255, 212, 36, 0.9);
    border-style: solid;
    border-width: 0px 25px 4px;
}

.flashsale-next {
    position: absolute;
    top: calc(50% - 1.5rem);
    right: 5px;
    cursor: pointer;
}

.flashsale-next i {
    font-size: 3rem;
    color: #000;
    opacity: 0.6;
}

.flashsale-prev {
    position: absolute;
    top: calc(50% - 1.5rem);
    left: 5px;
    cursor: pointer;
    display: none;
}

.flashsale-prev i {
    font-size: 3rem;
    color: #000;
    opacity: 0.6;
}

.flashsale-next:hover,.flashsale-prev:hover {
    transform: scale(1.2);
    transition: 0.1s;
}

/* ----------------------- SKINNY BANNER  ------------------------------ */

.skinny-banner {
    height: 110px;
    width: 100%;
    display: flex;
}

.sk-container {
    display: block;
    background-image: url("https://cf.shopee.vn/file/062d264dff8b906c1c6e10ef9f305134");
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    width: calc(100% / 3);
}

.sk-2 {
    background-image: url("https://cf.shopee.vn/file/2199658ec0e2e2585b63eb2ca5d207f0");
}

.sk-3 {
    background-image: url("https://cf.shopee.vn/file/6274f96d76c4d7cd66dd29651633ef72");
}

/* ------------- SHOPEE MALL --------------------- */

.shopee-mall {
    width: 100%;
    background-color: #fff;
}

.sm-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sm-logo {
    display: flex;
}

.sm-logo a {
    position: relative;
    color : #d1061f;
    font-size: 1rem;
    text-transform: uppercase;
    padding-right: 10px;
    pointer-events: none;
}

.sm-logo a::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
}

.sm-description {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.sm-description p {
    margin-right: 10px;
    text-transform: capitalize;
    color : #000;
    font-size: 0.9rem;
}

.sm-description p i {
    font-size: 1rem;
    color :#d1061f;
    margin-right: 5px;
}

.sm-more {
    color : #d1061f;
    font-size: 0.9rem;
    text-transform: capitalize;
}

.sm-more i {
    margin-left: 5px;
    font-size: 1rem;
    color :inherit;
}

.sm-container {
    position: relative;
    display: flex;
    width: 100%;
    padding: 10px;
}

.sm-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0.2;
}

.sm-carousel {
    width: 100%;
    height: 100%;
}

.sm-product {
    height: 100%;   
    display: flex;
    flex-direction: column;
    position: relative;

}

.sm-list {
    height: 50%;
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    align-items: center;
}

.sm-list::-webkit-scrollbar {
    display: none;
}

.smp-prev {
    position: absolute;
    left: 5px;
    top : calc(50% - 1rem);
    cursor: pointer;
}

.smp-prev i {
    font-size: 2rem;
    opacity: 0.5;
}

.smp-next {
    position: absolute;
    top : calc(50% - 1rem);
    right: 5px;
    cursor: pointer;
}

.smp-next i {
    font-size: 2rem;
    opacity: 0.5;
}

.smp-next:hover,.smp-prev:hover {
    transform: scale(1.2);
    transition: 0.2s;
}

.sm-item {
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 216px;
    width: 201px;
    border: 1px solid rgba(0,0,0,0.1);
    position: relative;

    scroll-snap-align: start;
}

.sm-viewall {
    border: none;
}

.sm-item h3 {
    width: 201px;
    text-align: center;
    color : #d1061f;
    font-size: 1rem;
    font-weight: 500;
}

.sm-item h3 i {
    margin-left: 5px;
    font-size: 1.2rem;
}

.sm-image {
    height: 100%;
    width: 201px;
    background-position: 50%;
    background-image: url("https://cf.shopee.vn/file/6bb0d452358db2c4c147cf0206dc4344_xhdpi");
    background-repeat: no-repeat;
    background-size: contain;
}

.sm-content {
    position: absolute;
    padding: 0px 10px;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: 5px;
    height: 27px;
    color : #d51d34;
    font-size: 18px;
    font-weight: 500;

    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    word-wrap: break-word;
    overflow: hidden;
}

/* --------------------- TREND -------------------- */

.trend {
    position: relative;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.trend-title {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.trend-title h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color : #000;
    opacity: 0.5;
}

.trend-title a {
    color : #ff7c3a;
    font-size: 1rem;
    text-transform: capitalize;
}

.trend-title a i {
    margin-right: 5px;
    font-size: 0.8rem;
}

.trend-container {
    width: 100%;
    position: relative;
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-behavior: smooth;
}

.trend-container::-webkit-scrollbar {
    display: none;
}

.trend-container::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0.2;
}

.trend-item {
    width: 240px;
    height: 100px;
    position: relative;
    display: flex;
    scroll-snap-align: start;
}

.trend-item::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    width: 1px;
    height: 100%;
    background-color: #000;
    opacity: 0.1;
}

.trend-item::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0.2;
}

.trend-content {
    width: 140px;
    height: 100%;
    padding-top: 20px;
    padding-left: 20px;
}

.trend-content h4 {
    text-transform: capitalize;
    font-size: 1rem;
    color : #000;
    font-weight: 400;
}

.trend-content p {
    font-size: 0.8rem;
    font-weight: 400;
    color : #000;
    opacity: 0.8;
}

.trend-image {
    margin-top: 1px;
    width: 100px;
    height: 98px;
}

.trend-prev,.trend-next {
    position: absolute;
    cursor: pointer;
    z-index: 10;
}

.trend-prev {
    top : calc(70% - 1rem);
    left: 5px;
}

.trend-next {
    top : calc(70% - 1rem);
    right: 5px;
}

.trend-prev i,.trend-next i {
    font-size: 2rem;
    color : #fe6233;
    opacity: 0.5;
}

/* ---------------- TOP --------------------- */

.top {
    position: relative;
    width: 100%;
    background-color: #fff;
}

.top-header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top-header h3 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color : #ff7c3a;
}

.top-header a {
    color : #ff7c3a;
    font-size: 1rem;
    text-transform: capitalize;
}

.top-container {
    width: 100%;
    position: relative;
    display: flex;
    padding-top: 10px;

    overflow-x:auto;
    scroll-snap-type:x mandatory;

    scroll-behavior: smooth;

    -ms-overflow-style: none;
    scrollbar-width: none;
}


.top-container::-webkit-scrollbar {
    display: none;
}

.top-container::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #000;
    opacity: 0.2;
    top : 0;
    left: 0;
}


.top-item {
    position: relative;
    padding: 10px;
    width: 180px;
    height: 260px;
    border : 1px solid rgba(0,0,0,.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 5px;

    scroll-snap-align: start;
}

.top-image {
    width: 170px;
    height: 180px;
    background-image: url("https://cf.shopee.vn/file/1c23ccb76031614584cbdd977e31bd7a_tn");
    background-repeat: no-repeat;
    background-size: contain;
}

.top-banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 32px;
    height: 30px;
    background-color: #ff7c3a;
    font-size: 0.9rem;
    text-align: center;
    color : #fff;
    font-weight: 600;
    padding-top: 10px;
}

.top-banner::after {
    position: absolute;
    content: "";
    bottom: -15px;
    left: 0;
    width: 0;
    height: 0;
    border-left:16px solid transparent;
    border-right:16px solid transparent;
    border-top: 15px solid #ff7c3a;
}

.top-quanity {
    position: absolute;
    left: 0;
    top: 154px;
    width: 100%;
    height: 26px;
    background-color: #bdbdbd;
}

.top-quanity p {
    font-size: 0.9rem;
    text-align: center;
    color : #fff;
}

.top-description {
    width: 100%;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    margin-top: 1.25rem;
    color: #555;
    font-size: 1.125rem;
    text-align: left;
    text-transform: capitalize;
    word-break: break-word;
    font-weight: 500;
}

.top-next,.top-prev {
    position: absolute;
    cursor: pointer;
}

.top-next i,.top-prev i {
    font-size: 2rem;
    color : #000;
    opacity: 0.5;
} 

.top-prev {
    left: 5px;
    top: calc(50% - 1rem);
    display: none;

}

.top-next {
    right: 5px;
    top: calc(50% - 1rem);
}

.top-next:hover,.top-prev:hover {
    transform: scale(1.2);
    transition: 0.1s;
}

