@media (max-width : 740px){
    .content {
        padding-top: 5px;
    }

    .attractive {
        gap : 1rem;
        justify-content: unset;
        scroll-padding-left: 5px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .attractive::-webkit-scrollbar {
        display: none;
    }

    .attractive-item {
        margin-left: 20px;
        scroll-snap-align: center;
    }

    .attractive-item:last-child {
        margin-right: 20px;
    }

    .adv-banner-fullscreen {
        max-height: 50px;
    }

    .sp-next {
        display: none !important;
    }

    .sp-prev {
        display: none !important;
    }

    .category-prev {
        display: none !important;
    }

    .category-next {
        display: none !important;
    }

    .flashsale-prev {
        display: none !important;
    }

    .flashsale-next {
        display: none !important;
    }

    .sm-description {
        display: none;
    }

    .sm-logo a::after {
        display: none;
    }


    .skinny-banner {
        max-height: 50px;
    }

    .sm-container {
        flex-direction: column;
    }

    .sm-product {
        margin-top: 10px;
    }

    .smp-prev {
        display: none !important;
    }

    .smp-next {
        display: none !important;
    }
}