@media (max-width : 740px){
    .content {
        padding-top: 5px;
    }

    .attractive {
        gap : 1rem;
        justify-content: unset;
        scroll-padding-left: 5px;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .attractive::-webkit-scrollbar {
        display: none;
    }

    .attractive-item {
        margin-left: 20px;
        scroll-snap-align: center;
    }

    .attractive-item:last-child {
        margin-right: 20px;
    }
}