 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

:root {
    --row-width : -2px;
    --col-padding : 2px;
    --primary-color : #fe6233;
    --white-color : #fffffe;
    --white-color-2: #ffffff;
    --light-orange : #ffeada;
    --black-color : #343434;
}

.content {
   padding-top: 160px;
} 

/* ----------------- ADVERTISEMENT --------------- */

.adv-link {
    margin-left: 0.125rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.adv-link-last {
    margin-top: 2px;
    justify-content: flex-end;
}

.adv-link img {
    width: 100%;
    border-radius: 5px;
    height: 98%;
}

/* -------------------- ATTRACTIVE --------------------- */

.attractive {
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--white-color);
    height: 108px;
    width: 100%;
    display: flex;
    justify-content: space-around;

    overflow-x: auto;
    scroll-snap-type: x mandatory;
}

.attractive-item {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
}

.attractive-logo {
    height: 70px;
    width: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.attractive-img {
    height: 45px;
    width: 100%;
    background-image: url("https://cf.shopee.vn/file/b3535d7e56c58c4ebe9a87672d38cc5e_xhdpi");
    background-size: contain;
    background-repeat: no-repeat;
}

.attractive-content {
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    font-size: .8125rem;
    line-height: 0.875rem;
    max-width: 80px;
    margin-bottom: 8px;
    word-wrap: break-word;
    overflow: hidden;

    color: var(--black-color);
    letter-spacing: 0;
    text-align: center;
}


/* ------------------- BANNER ------------------------ */

.adv-banner-fullscreen {
    display: flex;
    background-color: transparent;
    width: 100%;
    height: 110px;
    justify-content: center;
    align-items: center;

}

.adv-banner-fullscreen img {
    width: 100%;
}

/* ------------------ SELLING PRODCUT -------------------- */

.selling-product {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sp-img {
    width: 100%;
}

.sp-img img {
    width: 100%;
    height: 100px;
}

.sp-container {
    position: relative;
    background-color: #ffeada;
    height: 300px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sp-title {
    padding: 0 1%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color : rgb(208, 1, 27);
}

.sp-content {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 500;
    color : inherit;
}

.sp-more {
    color : inherit;
}

.sp-product {
    margin-top: 20px;
    display: flex;

    overflow-x: auto;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-behavior: smooth;
}

.sp-item {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    max-width: 160px;
    width: 160px;
    color : rgb(208, 1, 27);
    padding-bottom: 10px;
    margin-right: 2px;
    border-radius: 5px;

    scroll-snap-align: start;
}

.sp-item-img {
    background-image: url("https://cf.shopee.vn/file/fff81458b7029b2aa9fabc8f7c9811f0_tn");
    background-repeat: no-repeat;
    background-size: contain;
    height: 160px;
    width: 160px;
    background-position: 50%;
    border-radius: 5px;
}

.sp-item-price {
    text-align: center;
    color : inherit;
}

.sp-product::-webkit-scrollbar {
    display: none;
}

.sp-next {
    position: absolute;
    right: 5px;
    top: calc(50% - 1rem);
    cursor: pointer;
}

.sp-next i {
    color : rgb(208, 1, 27);
    font-size: 2.5rem;
}

.sp-next i:active {
    transform: scale(1.2);
    transition: 0.1s;
}

.sp-prev {
    position: absolute;
    left: 5px;
    top: calc(50% - 1rem);
    cursor: pointer;
    display: none;
}

.sp-prev i {
    color : rgb(208, 1, 27);
    font-size: 2.5rem;
}

.sp-prev i:active {
    transform: scale(1.2);
    transition: 0.1s;
}

/* ----------------- CATEGORY -------------------- */

.category {
    width: 100%;
    background-color: #ffffff;
}

.category-title {
    padding: 20px 10px;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    opacity: 0.5;
}

.category-menu {
    width: 100%;
    position: relative;
    height: 300px;
}

.category-list {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;

    -ms-overflow-style: none;
    scrollbar-width: none;

    scroll-behavior: smooth;
}

.category-list::-webkit-scrollbar {
    display: none;
}

.category-item {
    display: flex;
    flex-direction: column;
    width: 120px;
    max-width: 150px;
    border : 1px solid rgba(0, 0, 0, 0.1);
    align-items: center;
    height: 150px;
    scroll-snap-align: start;
}

.category-item img {
    width: 83px;
    height: 88px;
}

.category-item p {
    padding: 0 5px;
    width: 120px;
    color: rgba(0,0,0,.8);
    font-size: .875rem;

    line-height: 1.25rem;
    margin-bottom: .625rem;
    word-break: break-word;
    overflow: hidden;
    display: -webkit-box;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
}

.category-item:hover {
    opacity: 0.7;
    transition: 0.1s;
}

.category-item:first-child {
    border-left-width: 0px;
}

.category-item:last-child {
    border-right-width: 0px;
}

.category-prev {
    position: absolute;
    top : calc(50% - 1rem);
    left: 5px;
    cursor: pointer;
    display: none;
}

.category-prev i {
    font-size: 2rem;
    color : #000;
    opacity: 0.6;
}

.category-next {
    position: absolute;
    top : calc(50% - 1rem);
    right: 5px;
    cursor: pointer;
}

.category-next i {
    font-size: 2rem;
    color : #000;
    opacity: 0.6;
}